<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<div class="header" >
    <h2>Admin Page</h2>
    <p >Chi tiết</p>
  </div>
<div  class="border-bottom">
  <div class="float-left">
    <ul class="menu" >
      <li class="menu" ><a class="active" href="./home">Home</a></li>
      <li class="menu"><a href="./listcategory">Category</a></li>
      <li class="menu"><a href="./listproduct">Product</a></li>
      <li class="menu"><a href="./listorder">Order</a></li>
      <li class="menu"><a href="./listcustomer">Customer</a></li>
    </ul>
  </div>
  
   
  <!-- <button class="button button2"><a href="./logout"></a>Logout</button> -->  
    <div class="float-right"> <font class="font">Hello</font> 
   <button class="button button2"><b><%=session.admin.username%></b></button> <a class="button button2" href="./logout">Logout</a>
  </div>
  <div class="float-clear"></div>
</div>
