<html>

<head>
  <!-- <link href="/css/styles.css" type="text/css" rel="stylesheet" /> -->
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- <style>
    #grad1 {
      height: 200px;
      background-color: red; /* For browsers that do not support gradients */
      background-image: linear-gradient(darkorange, tomato, lightSALMON, white  ); /* Standard syntax (must be last) */
    }

    #borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30% round;
}
    </style> -->
    
</head>

<body class="container">
    <%- include('./_menu.ejs') %>
  <div class="align-center" id="grad1">
    <h2 class="text-center">ADMIN HOME</h2>
    <!-- <img src="http://cliparting.com/wp-content/uploads/2018/03/animated-emoticons-2018-13.gif" width="800px" height="600px" /> -->
  </div>
</body>

</html>