<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    body{
      background-image: url("https://mewallpaper.com/thumbnail/abstract/8296-simple-background-wallpaper-download-free.jpg")
    }
  </style>
</head>

<body class="admin">
  <div class="admin-login">
    <h2 class="rainbow-text">ADMIN LOGIN</h2>
    <form action="./login" method="POST">
      <table class="align-center">
        <tr>
          <td class="admin-login1">Tài khoản</td>
          <td><input type="text" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td class="admin-login1">Mật khẩu</td>
          <td><input type="password" name="txtPassword" required /></td>
        </tr>
        <tr>
          <td></td>
          <td style="position:absolute; left:160px; top:140px"><input class="btn btn-success" type="submit" value="ĐĂNG NHẬP" /></td>
        </tr>
      </table>
    </form>
  </div>
</body>

</html>