.datatable {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  border: tomato; 
  margin-left: 270px; 
  margin-right:auto;
  
}
.datatablee {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  border: tomato; 
  margin-left: 270px; 
  margin-right:auto;
  
}
.datatableo {
  border-collapse: collapse;
  width: 50%;
  border: tomato; 
  margin-left: 720px; 
  margin-right:auto; 
}

.datatable2 {
  text-align: center;
  border-collapse: collapse;
}
.datatableb {
  width: 50%;
  text-align: center;
  border-collapse: collapse;
}
.datatablec {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-left: 20px; 
  margin-right:auto;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
th, td {
  text-align: center;
  padding: 10px;
}

/* tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #fafcfa;
  color: white;
} */