div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}

div.float-left {
  float: left;
  /* border: 1px solid black; */
}

div.float-right {
  float: right;
  /* border: 1px solid black; */
}
div.float-clear {
  clear: both;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-family: "Sofia";
  font-size: 22px;
}

ul.menu {
  margin: 0px;
  padding: 0px;
  /* overflow: hidden; */
}

li.menu {
  display: inline;
  margin-right: 110px;
  text-transform: uppercase;
}

form.search {
  margin: 0px;
}

input.keyword {
  width: 110px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(235, 101, 12);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#grad1 {
  height: 200px;
  background-color: red; 
  background-image: linear-gradient(red, yellow); 
}

.button {
  background-color: #d46012; 
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 0px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 40px 0 rgba(0,0,0,0.19);
  border-radius: 14px;
  border: 2px solid #000000;
  background-color: #f7a84d;
  color: white;

}
img {
  max-width: 100%;
  height: auto;
}
.font {
  font-family: "Sofia";
  font-size: 20px;
}