
  <div class="border-bottom">
  <div class="float-left">
    <%  if (session.customer) {  %>
    Xin chào <b><%=session.customer.name%></b> | <a href="./logout">Đăng xuất</a> | <a href="./myprofile">Hồ sơ của tôi</a> | <a href="./myorders">Lịch sử đặt hàng</a>
    <%  } else {  %>
    <a href="./login">Đăng Nhập</a> | <a href="./signup">Đăng ký</a>
    <%  } %>
  </div>
  <div class="float-right">
    <a href="./mycart">Giỏ hàng</a> đang có <b><%= (session.mycart) ? session.mycart.length : 0 %></b> sản phẩm
  </div>
  <div class="float-clear"></div>
</div>