<html>

<head>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
  body{
    background-image: url("https://previews.123rf.com/images/vectomart/vectomart1210/vectomart121000059/15803400-illustration-of-different-shopping-bag-on-sale-background.jpg")
  }
</style>
</head>

<body class="customer">
  <%- include('./_menu.ejs') %>
  <%- include('./_inform.ejs') %>
  <div class="login-customers">
    <h2 class="rainbow-text">ĐĂNG NHẬP</h2>
    <form action="./login" method="POST">
      <table class="align-center">
        <tr>
          <td class="Username">Tên tài Khoản</td>
          <td><input type="text" placeholder="Tên Đăng Nhập" name="txtUsername" required /></td>
        </tr>
        <tr>
          <td class="Password">Mật Khẩu</td>
          <td><input type="password" placeholder="Mật Khẩu" name="txtPassword" required /></td>
        </tr>
        <tr>
          <td></td>
          <td><input class="btn btn-success" type="submit" value="Đăng Nhập" /></td>
        </tr>
        <tr>
          <td></td>
          <h7 style=" color: blue; position:absolute; left:120px; top:225px">Bạn có tài khoản chưa?</h7>
          <td><a href="./signup">Đăng ký ngay</a> </td>

        </tr>
      </table>
    </form>
  </div>
</body>
</html>